@font-face {
  font-family: "minecraft-ten";
  src: url(./minecraft-ten.ttf),format("ttf");
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
}

:root{
  --green: #7ab422;
  --brown: #724638;
  --black: #1a1a1a;
  --blue: #00a6e7;
  --gray: #9e9e9e;
  --white: #f3f3f3;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "minecraft-ten";
}

header{
  background-color: var(--blue);
}

#logo{
  font-size: 10rem;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: var(--white);
  text-shadow: 
  1px 1px var(--black),
  2px 2px var(--black),
  3px 3px var(--black),
  4px 4px var(--black),
  5px 5px var(--black),
  6px 6px var(--black);
  letter-spacing: 20px;
}

nav{
  display: flex;
  height: 50px;
}

nav button{
  font-family: inherit;
  font-size: 2rem;
  flex: 1;
  background-color: var(--brown);
  border: none;
  border-right: 1px solid var(--black);
  border-top: 5px solid var(--green);
  transition: color .25s;
  cursor: pointer;
}

nav button:hover,
nav button:active{
  color: var(--white);
}

#content{
  background-color: var(--gray);
  height: 100vh;
}

.home-container{
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container p{
  font-size: 2.5rem;
  word-spacing: 3px;
  line-height: 8rem;
  text-align: center;
  margin-bottom: 5rem;
}
